<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col1 col"><h1>Side Panel</h1></div>
                <div class="col2 col"><h1>1</h1></div>
                <div class="col3 col"><h1>2</h1></div>
                <div class="col4 col"><h1>3</h1></div>
                <div class="col5 col"><h1>4</h1></div>
                <div class="col6 col"><h1>Center</h1></div>
                <div class="col7 col"><h1>Left Bottom</h1></div>
                <div class="col8 col"><h1>Right Bottom</h1></div>
            </div>
        </div>
    </section>
</body>
</html>